set_io --warn-no-port LED 95 # centre green
set_io --warn-no-port clk 21

set_io --warn-no-port hsync 90
set_io --warn-no-port vsync 91

set_io --warn-no-port r1 78
set_io --warn-no-port r2 79
set_io --warn-no-port g1 80
set_io --warn-no-port g2 81
set_io --warn-no-port b1 87
set_io --warn-no-port b2 88


set_io --warn-no-port a 119
set_io --warn-no-port b 118
